<section class="container contactContainer col-12">
    <div class="row">
        <div class="col-12 contactDiv">
            <div class="contactData">
                <h2 class="contacto">Contacto</h2>
                <ul>
                    <li class="contactInfo">Soporte: 0800-1223-3356</li>
                    <li class="contactInfo">Consultas: consultas.RZ@gmail.com</li>
                </ul>
            </div>
            <div class="redesData">
                <a class="linkIg" href="https://www.instagram.com/ryzen_vr/">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="linkIg" href=""><i class="fab fa-twitter-square"></i></a>
                <a class="linkIg" href=""><i class="fab fa-facebook-square"></i></a>
            </div>
        </div>
    </div>
</section>