<header class="mobile-header">
    <nav class="mobileNavbar navbar navbar-expand-lg">
        <!-- navbar-light bg-light -->
        <a class="navbar-brand navLogo" href="/">RYZEN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-items active">
                    <i class="fas fa-home"></i><a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
                </li>
                <% if(locals.user){ %>
                <li class="nav-items">
                    <i class="fas fa-user"></i><a class="nav-link userLogged" href="#">¡Hola <%= locals.user.username %>!</a>
                </li>
                <li class="nav-items">
                    <i class="fas fa-times-circle"></i><a class="nav-link" href="/logout" style="color: #ff0d0d;">LOGOUT</a>
                </li>
                <% } else { %>
                <li class="nav-items">
                    <i class="fas fa-sign-in-alt"></i><a class="nav-link" href="/login">LOGIN</a>
                </li>
                <li class="nav-items">
                    <i class="fas fa-user-plus"></i><a class="nav-link" href="/registro">REGISTRO</a>
                </li>
                <% } %>
                <li class="nav-items">
                    <i class="fas fa-vr-cardboard"></i><a class="nav-link" href="/producto">VISORES</a>
                </li>
                <li class="nav-items">
                    <i class="fas fa-gamepad"></i><a class="nav-link" href="#">APPS Y JUEGOS</a>
                </li>
                <li class="nav-items">
                    <i class="fas fa-briefcase"></i><a class="nav-link" href="/quienes-somos"> QUIENES SOMOS</a>
                </li>
                <li class="nav-items">
                    <i class="fas fa-shopping-cart"></i><a class="nav-link" href="/carrito"> CARRITO</a>
                </li>
                <li class="nav-items">
                    <i class="fas fa-search"></i><a class="nav-link" href="#"> BUSCAR</a>
                </li>
            </ul>
        </div>
    </nav>
</header>