* {
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*color: black;*/
}

body {
    background: white;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    /*cursor: none;*/
}

html{
    font-size: 11px;
}

/* Cards */

.card{
    position: relative;
    height: 250px;
    background: #fff;
    display: flex;
    width: 45%;
    margin: 10px;
}

.card .imgBx{
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    /* z-index: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}


.card .imgBx:before{
    /*content: attr(data-text);*/
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 6em;
    color: rgba(255, 255, 255, .05);
    font-weight: 700;
}

.card .imgBx img{
    width: 100%;
    height: 100%;
}

/*.card .content{
    position: absolute;
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.content-1{
    display: flex;
}

@media (max-width: 992px){
    /*.container{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }*/
    .card{
       width: 400px; 
    }
}

@media (max-width: 768px){
   .card{
       /* max-width: 300px; */
       width: 100%;
       flex-direction: column;
       height: auto;
   }
   .card .imgBx{
       position: relative;
   }
   .card .imgBx,
   .card:hover .imgBx{
       width: 100%;
       height: 200px;
       left: 0;
   }
   .container .card .content{
      position: relative;
      width: 100%; 
   }
}


/* DESKTOP HEADER BEGINS */
.cabecera {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: bold;
    color: black;
    font-size: 16px;
}

.cabecera a{
    color: black;
}

.cabecera p,li{
    font-family: 'Poppins', sans-serif;
     color: black;
}

.cabecera p{
    font-size: 28px;
}

.logo{
    margin-left: 10px;
}

.logo a{
    text-decoration: none;
}

.navegacion {
    display: flex;
}

.navegacion ul li{
    justify-content: center;
}

.navegacion li{
    list-style: none;
    display: inline;
    padding: 8px;
    text-align: center;
}

li:hover{
    animation: bounce 1s linear;
}

@keyframes bounce{
    20%, 50%, 80%, to{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-30px);
    }
    70%{
        transform: translateY(-15px);
    }
    90%{
        transform: translateY(-4px);
    }
}

.registro li{
    list-style: none;
    display: inline-flex;
    padding: 8px;
}

div .dos{
    display: inline-flex;
    /*margin-top: -11px;*/
    align-items: center;
}

div .iconos{
    border-left: 2px solid black;
    /*margin-left: 10px;*/
}

div .iconos i{
    margin-left: 10px;
}

.iconos i{
    color: black;
}
/* DESKTOP HEADER ENDS */

/* MOBILE HEADER */
.mobile-header{
    display: none;
}

.mobileNavbar{
    background: black;
    font-size: 16px;
    font-weight: bolder;
}

.mobileNavbar a{
    color: white;
}

.navLogo{
    font-size: 28px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-decoration: none;
    margin-left: 10px;
}

.navbar-nav{
    margin-left: 10px;
}

.navbar-toggler{
    margin-right: px;
}

.fa-bars{
    background: black;
    font-size: 25px;
    color: white;
}

.nav-items{
    display: flex;
    align-items: center;
}

.nav-items a{
    margin-left: 10px;
}

.nav-items i{
    color: white;
}
/* MOBILE HEADER ENDS */

.userLogged{
    text-transform: uppercase;
}

/* .contactContainer{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 95%;
} */

.contactDiv {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.contactContainer{
    padding-top:10px;
}
.iconoIg {
    height: 90px;
    width: 90px;
}

.tamano-container {
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    color: black;
    max-width: 100%;
    border-radius: 0px;
}

.tamano-container ul li{
    color: black;
}

.firstContainer{
    background: url('../img/NEWVR00.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-top: 15px;
}

.firstContainerRow{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    width: 100vw;
    justify-content: center;
    align-content: center;
    height: 86vh;
}

.firstContainerInfo{
    width: 100vw;
}

.firstContainerImg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstContainerImg img{
    max-width: 100%;
    height: auto;
}

.bannerIcon{
    color: white;
    margin-right: 20px;
    display: none !important;
}

.banner-txt {
    color: white;
    text-align: center;
    font-size: 1.8rem;
    width: 100vw;
}

.banner-title{
    text-align: center;
    font-weight: bold;
    font-size: 2.7rem;
    padding-top: 5%;
    color: white;
    text-shadow: 0 0 15px #0a0a0a;
}

.banner-mi{
    display: block;
    width: 100vw;
    font-size: 10px;
    text-align: center;
}

.banner-mi-container{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

.banner-mi a{
    /* color: rgb(86, 158, 230); */
    /*color: rgb(21, 90, 160);*/
    font-weight: bold;
    width: 100vw;
}

.secondContainerInfo{
    display: flex;
    flex-wrap: wrap;
}

.producto-home-nom {
    text-align: right;
    font-size: 4rem; 
    color: white;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.secondDescription{
    color: white;
    text-align: justify;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.secondDescriptionContainers{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.secondDescriptionTitles{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.7rem;
}

.secondContainerIcons{
    border-radius: 50%;
    padding: 10px;
    border: 2px solid grey;
    display: flex;
}

.secondDescription p{
    color: white;
}

.producto-home-desc {
    color: black;
}

.compatibilidad {
    color: black;
    margin-top: 20px;
    background: white;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background: dimgrey;
}

.carouselContainer{
    background: url('../img/background7.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-bottom: 0px;
}

.carouselIndex{
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}
.carouselIndex .tamano-container{
    padding-bottom: 0px;
}
.carousel-inner{
    background-color: #fff;
    border-radius: 20px;
}

.fa-star{
    color: white;
}

.carouselContainer .subH2{
    color: white;
    padding-top: 30px;
    width: 100%;
    text-shadow: 0 0 18px #0a0a0a;
}

.carousel-caption h2, .carousel-caption p{
    font-weight: bold;
    font-size: rem;
    color: black;
    background: rgba(255, 255, 255, 0.8);
}

.carousel-caption{
    margin-top: 60px;
}

.subH2 {
    font-size: 3.7rem;
    text-align: center;
    font-weight: bold;
    color: black;
    margin-bottom: 3%;
    margin-bottom: 30px;
    padding-top: 20px;
    text-transform: uppercase;
}

.contacto{
    text-align: left;
    font-size: 2rem; 
    color: white;
    font-weight: bold;
}

/* .contactInfo{
    font-size: 1.3rem;
} */

.producto-home-desc p {
    text-align: center;
}

/* Estilos de las fotos compatibles con */
 .col-4{
     object-fit: cover;
     border-radius: 10px;
}

 .col-12{
     object-fit: contain;
}


.btn-mf {
    display: block;
    width: 100vw;
    justify-content: center;
    text-align: center;
    align-self: center;
    align-items: center;
    align-content: center;
}

.btn-mi{
    font-size: 1.8rem;
    background: white;
    color: black;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 10px;
}

.btn-mi:hover{
    background: black;
    color: white;
    border: 1px solid black;
    transition: all 0.3s ease 0s;
}

.carousel-item{
    color: black;
}

.carousel-item img{
    height: 30vw;
}

.linkIg .fab{
    color: white;
    font-size: 3.5rem;
    margin-right:5px;
}

/* Medias Queries */

@media (min-width: 320px){
    .subH2{
        font-size: 3rem;
    }
    .carouselContainer .subH2{
        font-size: 19px;
    }
}

@media (max-width: 337px){
    .producto-home-nom {
        font-size: 3.5rem;
        display: flex;
        justify-content: center;
    }   
    .secondDescription {
        font-size: 1.19rem;
    }
    .banner-mi{
        font-size: 0.93rem;
    }
}
@media (min-width:350px){
    .banner-title{
        font-size: 3rem;   
    }
    .banner-mi{
        font-size: 1.19rem;
    }
}
@media (max-width: 380px){
    .contactDiv {
        display: block;
        align-items: center;
    }
}

@media (min-width: 425px){
    .subH2{
        font-size: 3rem;
    }
    .carouselContainer .subH2{
        font-size: 26px;
    }
}

@media (max-width: 450px){
    .carouselIndex{
        width: 90vw;
    }
    .carousel-item img{
        height: 50vh;
    }
}

@media (min-width: 487px){
    .logo{
        margin-right: 3.7rem;
    }
    .carouselContainer .subH2{
        font-size: 30px;
    }
}

@media (max-width: 750px){
    .carousel-item img{
    width: 100vw;
}
    .content-1{
    align-items: center;
    flex-direction: column;
}
    .card .imgBx img {
        width: 100%;
    }
}
@media (max-width:991px){
    .mobile-header{
        display: block!important;
    }
    .desktop-header{
        display: none!important;
    }
}

@media (min-width: 992px){
    .firstContainerRow{
        display: flex;
        flex-direction: initial;
        flex-wrap: initial;
        width: 100vw;
        height: 89vh;
    }
    .firstContainer row{
        margin-left: auto;
        margin-right: auto;
    }
    .firstContainerInfo{
        flex-direction: column;
        align-self: center;
    }
    .firstContainerInfo p{
        /*margin-top: 40px;*/
        margin-bottom: 40px;
    }
    .banner-mi{
        margin-top: 10px;
        font-size: 1.5rem;
    }
    .banner-mi a:hover{
    background: rgb(21, 90, 160);
    color: WHITE;
    text-shadow: 0 0 15px #00f3ff;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s ease 0s;
    }
    .btn-mi:hover{
    transition: all 0.3s ease 0s;
    
    }
    .banner-title{
        font-size: 4.3rem;
    }
    .banner-txt{
        font-size: 1.9rem;
    }
    .secondDescription{
        font-size: 1.3rem;
        line-height: 2.5rem;
    }
    .secondDescriptionContainers:hover {
    text-shadow: 0 0 7px white;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    }
    .producto-home-nom{
        font-size: 4.7rem;
    }
    .compatibleContainer{
    /*width: 50vw;*/
    margin-left: auto;
    margin-right: auto;
    }
    .compatible img{
        margin-left: auto;
        margin-right: auto;
    }
    .carouselContainer{
    height: 40vw;
}
}
@media (min-width: 1025px){
    .banner-title{
        font-size: 5rem;
    }
    .banner-txt{
        font-size: 2.1rem;
    }
    .bannerIcon{
    font-size: 4.5rem;
    display: inline !important;
    }
    .secondContainer{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .producto-home-nom{
        text-align: right;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }
    .secondContainerIcons{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .cabecera {
    margin-top: auto;
    margin-bottom: auto;
    }
    .carousel-caption p{
        font-size: 1.6rem;
    }
}

@media (max-width: 320px){
    .content-1{
        flex-direction: column;
    }
}

/*@media (max-width: 1440px){
    .firstContainer{
        background-size: 100%;
    }
}*/







/* NEW STYLES HOME */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*Global styles*/

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font: 'Poppins', sans-serif;
    --secondary-font: 'Poppins', cursive;
    --body-font: 'Poppins', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #c59d5f;
    --body-font-color: #515151;
}

html{
    font-family: var(--body-font);
    font-size: 10px;
    color: var(--body-font-color);
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

section{
    padding: 3.9rem 0;
    overflow: hidden;
}

img{
    width: 100%;
    max-width: 100%;
}

a{
    text-decoration: none;
}

p{
    font-size: 1.6rem;
}

.container{
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}

/* Header Start */

/*header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), transparent);
}

.nav{
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-toggle{
    color: #fff;
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
    cursor: pointer;
    z-index: 1500;
}

.fa-times{
    display: none;
}

.nav-list{
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    background-color: var(--main-font-color-dark);
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transform: translateX(-100%);
    transition: transform .5s;
}

.nav::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}

.open .fa-times{
    display: block;
}

.open .fa-bars{
    display: none;
}

.open .nav-list{
    transform: translateX(0);
}

.open .nav::before{
    opacity: 1;
    transform: scale(1);
}

.nav-item{
    border-bottom: 2px solid rgba(255, 255, 255, .3);
}

.nav-link{
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-right: -2px;
    transition: color .5s;
}

.nav-link:hover{
    color: var(--secondary-font-color);
}

/* Hero Start */

.hero{
    width: 100%;
    height: 100vh;
    background: url('../img/newvrimg/VR/NEWVR00.jpg') center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}

.sub-headline{
    font-size: 8.5rem;
    font-family: var(--secondary-font);
    color: var(--secondary-font-color);
    font-weight: 600;
    line-height: .9;
    letter-spacing: 2px;
    opacity: 0;
    animation: fadeUp .5s forwards;
    animation-delay: .5s;
    text-transform: uppercase;
}

.first-letter{
    text-transform: uppercase;
    /*font-size: 10.3rem;*/
}

.headline{
    color: #fff;
    font-size: 3.7rem;
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5rem;
    margin-right: -.5rem;
    /*animation: scale .5s forwards;*/
}

.separator{
   display: flex;
   align-items: center;
   justify-content: center;
}

.line{
    width: 100%;
    max-width: 8.4rem;
    height: .25rem;
    background-color: #fff;
    position: relative;
    opacity: 0;
    animation: grow 2s forwards;
    animation-delay: .9s;
}

.line-right::before,
.line-left::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: .6rem solid transparent;
    opacity: 0;
    animation: grow .5s forwards;
    animation-delay: 1.2s;
}

.line-right::before{
    border-right-color: #fff;
    right: 0;
}

.line-left::before{
    border-left-color: #fff;
    left: 0;
}

.vr-cardboard{
    font-size: 4rem;
    color: var(--secondary-font-color);
    margin: 0 1.6rem;
    opacity: 0;
    animation: spin .5s forwards;
    animation-delay: .7s;
}

.single-animation{
    opacity: 0;
    animation: fadeDown .5s forwards;
    animation-delay: 1.5s;
}

.headline-description h5{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 2rem;
    letter-spacing: 3px;
    margin-right: -3px;
}

.btn{
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
}

.cta-btn{
    font-size: 1.1rem;
    background-color: #fff;
    padding: .9rem 1.8rem;
    color: var(--body-font-color);
    border-radius: .4rem;
    transition: background-color .5s;
}

.cta-btn:hover,
.cta-btn:focus{
    color: #fff;
    background-color: var(--secondary-font-color);
}

/* Discover our story */

.global-headline{
    text-align: center;
    margin-top: 3.9rem;
}

.discover-our-story .global-headline{
    margin-top: 6.9rem;
}

.global-headline .vr-cardboard{
    color: var(--body-font-color);
    margin: 2.4rem 0;
}

.headline-dark{
    color: var(--main-font-color-dark);
    /*letter-spacing: .7rem;*/
    margin-right: -.7rem;
}

.global-headline .sub-headline{
    letter-spacing: -1px;
    line-height: .7;
}

.restaurant-info{
    text-align: center;
}

.restaurant-description{
    margin-bottom: 3rem;
}

.restaurant-description p{
    line-height: 1.6;
    margin-bottom: 2.4rem;
}

.body-btn{
    font-size: 1.5rem;
    color: var(--secondary-font-color);
    position: relative;
    transition: color .5s;
}

.body-btn::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: var(--secondary-font);
    transition: background-color .5s;
}

.body-btn:hover,
.body-btn:focus{
    color: var(--main-font-color-dark);
}

.body-btn:hover::before,
.body-btn:focus::before{
    background-color: var(--main-font-color-dark);
}

/* Tasteful Recipes */

.tasteful-recipes{
    background: url('../img/newvrimg/VR/4.jpg') center no-repeat;
    background-size: cover;
}

.between{
    min-height: 65vh;
    display: flex;
    align-items: center;
}

/* Discover our Menu */

/*.image-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
}*/

/*.discover-our-menu .restaurant-description{
    padding-top: 3rem;
    margin-bottom: 0;
}*/

/* The Perfect Blend */

.perfect-blend{
    background: url('../img/newvrimg/VR/G1.jpg') center no-repeat;
    background-size: cover;
}

/* Footer */

footer{
    padding: 7.9rem 0;
    background-color: #121212;
    color: #fff;
    text-align: center;
    position: relative;
}

.back-to-top{
    width: 7rem;
    height: 7rem;
    background-color: #121212;
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.back-to-top i{
    display: block;
    color: #fff;
    font-size: 2rem;
    padding: 2rem;
    animation: up 2s infinite;
}

.footer-content{
    overflow: hidden;
}

.footer-content h4{
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 3rem;
}

.footer-content .vr-cardboard{
    margin: 2.4rem 0;
}

.footer-content-about{
    margin-bottom: 5.4rem;
}

.footer-content-about p{
    line-height: 2;
    text-transform: uppercase;
    font-size: 15px;
}

.social-icons{
    list-style: none;
    margin-bottom: 5.4rem;
    display: flex;
    justify-content: center;
}

.social-icons i{
    font-size: 2rem;
    color: #fff;
    padding: .8rem 2rem;
    opacity: .5;
    transition: color .5s;
}

.social-icons i:hover,
.social-icons i:focus{
    color: var(--secondary-font-color);
}

.newsletter-form{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.newsletter-input{
    width: 100%;
    max-width: 25rem;
    padding: 1rem;
    border-radius: .4rem;
}

.newsletter-btn{
    background-color: transparent;
    border: none;
    color: var(--main-font-color-dark);
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1px .6rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10.5rem;
}

/* Media Queries */

@media screen and (min-width: 900px){
    section{
        padding: 7.9rem;
    }

    .menu-toggle{
        display: none;
    }

    .nav{
        justify-content: space-between;
    }

    .nav-list{
        position: initial;
        width: initial;
        height: initial;
        background-color: transparent;
        padding: 0;
        justify-content: initial;
        flex-direction: row;
        transform: initial;
        transition: initial;
    }

    .nav-item{
        margin: 0 2.4rem;
        border: none;
    }

    .nav-item:last-child{
        margin-right: 0;
    }

    .nav-link{
        font-size: 1.3rem;
    }

    .active{
        position: relative;
    }

    .active::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        left: 0;
        bottom: -3px;
    }

    /*.sub-headline{
        font-size: 10rem;
    }*/

    /*.first-letter{
        font-size: 12.2rem;
    }*/

    .headline{
        font-size: 4.7rem;
        letter-spacing: .8rem;
    }

    .line{
        max-width: 11.4rem;
    }

    .restaurant-info{
        display: flex;
        align-items: center;
    }

    .restaurant-info > div{
        flex: 1;
    }

    .padding-right{
        padding-right: 7rem;
    }

    .footer-content{
        max-width: 77.5rem;
        margin: auto;
    }

    .footer-content-about{
        max-width: 51.3rem;
        margin: 0 auto 5.4rem;
    }

    .footer-content-divider{
        display: flex;
        justify-content: space-between;
    }

    .social-media,
    .newsletter-form{
        width: 100%;
        /*max-width: 27.3rem;*/
        margin: 0 1rem;
    }

    .social-icons i{
        opacity: 1;
    }

    .newsletter-btn{
        margin-left: 7.5rem;
    }
}

@media screen and (max-width: 468px){
    .sub-headline{
        font-size: 6rem;
    }
}

@media screen and (max-width: 320px){
    .sub-headline{
        font-size: 5rem;
    }
}

/* Animations */

@keyframes fadeUp {
    0%{
        transform: translateY(4rem);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

/*@keyframes scale {
    0%{
        transform: scale(2);
    }

    100%{
        opacity: 1;
        transform: scale(1);
    }
}*/

@keyframes grow {
    0%{
        width: 0;
    }

    100%{
        opacity: 1;
        width: 100%;
    }
}

@keyframes spin {
    0%{
        transform: rotate(0);
    }

    100%{
        opacity: 1;
        transform: rotate(-360);
    }
}

@keyframes fadeDown {
    0%{
       transform: translateY(-1rem); 
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes up {
    0%{
       opacity: 0;
    }

    50%{
        opacity: 1;
    }

    100%{
        opacity: 0;
        transform: translateY(-1rem);
    }
}
