* {
    font-family: 'Poppins', sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}

body {
    background-color: black;
}
html{
    font-size: 11px;
}

.cabecera {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: bold;
    color: white;
    font-size: 16px;
}
.cabecera a{
    color: white;
}

.cabecera p,li{
    font-family: 'Poppins', sans-serif;
     color: white;
}

.cabecera p{
    font-size: 28px;
}
.logo{
    margin-left: 10px;
}
.logo a{
    text-decoration: none;
}
.navegacion {
    display: inline-flex;
}

.navegacion li{
    list-style: none;
    display: inline;
    padding: 8px;
    margin-right: 1.1px;
}

.registro li{
    list-style: none;
    display: inline-flex;
    padding: 8px;
}

div .dos{
    display: inline-flex;
    margin-top: -15px;
    align-items: center;
}

div .iconos{
    border-left: 2px solid white;
    margin-left: 10px;
}

div .iconos i{
    margin-left: 10px;
}

.iconos i{
    color: white;
}
.userLogged{
    text-transform: uppercase;
}

.contactContainer{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 95%;
}
.tamano-container {
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    color: black;
}
.tamano-container ul li{
    color: black;
}
.firstContainer{
   background: grey;
   padding-top: 15px;
}
.firstContainerRow{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    width: 100vw;
    justify-content: center;
    align-content: center;
}
.firstContainerInfo{
    width: 100vw;
}
.bannerIcon{
    color: white;
    margin-right: 20px;
    display: none;
}
.banner-txt {
    color: white;
    text-align: center;
    font-size: 1.8rem;
    width: 100vw;
}
.banner-title{
    text-align: center;
    font-weight: bold;
    font-size: 3.4rem;
    padding-top: 5%;
    color: white;
    text-shadow: 0 0 15px #0a0a0a;
}
.banner-mi{
    display: block;
    width: 100vw;
    font-size: 1.1rem;
    text-align: center;
}
.banner-mi-container{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}
.banner-mi a{
    /* color: rgb(86, 158, 230); */
    color: rgb(21, 90, 160);
    font-weight: bold;
    width: 100vw;
}
.secondContainerInfo{
    display: flex;
    flex-wrap: wrap;
}
.producto-home-nom {
    text-align: center;
    font-size: 3rem; 
    color: white;
    font-weight: bold;
}
.secondDescription{
    color: white;
    text-align: justify;
    font-size: 1.2rem;
}
.secondDescription p{
    color: white;
}
.producto-home-desc {
    color: black;
}

.compatibilidad {
    color: black;
    margin-top: 20px;
    background: white;
}

.subH2 {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    color: black;
    margin-bottom: 2%;
}
.contacto{
    text-align: center;
    font-size: 2rem; 
    color: white;
    font-weight: bold;
}
.contactInfo{
    font-size: 1.3rem;
}
.producto-home-desc p {
    text-align: center;
}



.btn-mf {
    display: block;
    width: 100vw;
    justify-content: center;
    text-align: center;
    align-self: center;
    align-items: center;
    align-content: center;
}
.btn-mi{
    font-size: 1.8rem;
    background: white;
    color: black;
    font-weight: bold;
    border: 1px solid black;
        border-radius: 10px;
}
.btn-mi:hover{
    background: black;
    color: white;
    border: 1px solid black;
    transition: all 0.3s ease 0s;
}
.carousel-item{
    color: black;
}

@media (min-width: 487px){
    .logo{
        margin-right: 3.7rem;
    }
}
@media (max-width: 575px){
    .tamano-container{
        max-width: 95%;
    }
}
@media (min-width: 768px){

}
@media (min-width: 992px){
    .firstContainerRow{
        display: flex;
        flex-direction: initial;
        flex-wrap: initial;
        width: 100vw;
    }
    .firstContainer row{
        margin-left: auto;
        margin-right: auto;
    }

    .firstContainerInfo{
        flex-direction: column;
        align-self: center;
    }
    .firstContainerInfo p{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .banner-mi{
        /* margin-top: 50%; */
        font-size: 1.5rem;
    }
    .banner-mi a:hover{
    background: rgb(21, 90, 160);
    color: WHITE;
    text-shadow: 0 0 15px #00f3ff;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s ease 0s;
    }
    .btn-mi:hover{
    transition: all 0.3s ease 0s;
    text-shadow: 0 0 35px white;
    }
    .banner-title{
        font-size: 4.3rem;
    }
    .banner-txt{
        font-size: 1.9rem;
    }
    .tamano-container{
        max-width: 100%;
        border-radius: 0px;
    }
    .secondDescription{
        font-size: 1.6rem;
        line-height: 3rem;
    }
    .producto-home-nom{
        font-size: 4rem;

    }
    .compatibleContainer{
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    }
    .compatible img{
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 1025px){
    .banner-title{
        font-size: 5rem;
    }
    .banner-txt{
        font-size: 2.1rem;
    }
    .bannerIcon{
    font-size: 4.5rem;
    display: inline;
    }
    .secondContainer{
        margin-top: 50px;
        margin-bottom: 50px;
    }
}