<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d92a2a2802.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styleCategories.css">
    <title>RYZEN | Categorías</title>
</head>
<body>
    <!-- Header -->
    <%- include('partials/headerNavbar') %>
    <%- include('partials/mobileNavBar') %>
    <!-- /Header -->
    <div class="categorieProductsTitle">
        <h1>Productos de la categoría:</h1>
    </div>
    <div class="container products-wrapper">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="card shadow" style="width: 30rem;">
                    <div class="inner">
                        <img src="./img/10.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Samsung Gear VR</h5>
                        <p class="card-text">$15.000</p>
                        <a href="#" class="btn btn-success">Agregar al Carrito</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow" style="width: 30rem;">
                    <div class="inner">
                        <img src="./img/HTC2.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">HTC Vive Pro</h5>
                        <p class="card-text">$10.000</p>
                        <a href="#" class="btn btn-success">Agregar al Carrito</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow" style="width: 30rem;">
                    <div class="inner">
                        <img src="./img/13.png" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Play Station VR + Beat Saber</h5>
                        <p class="card-text">$49.999</p>
                        <a href="#" class="btn btn-success">Agregar al Carrito</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow" style="width: 30rem;">
                    <div class="inner">
                        <img src="./img/valveindex.png" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Valve Index</h5>
                        <p class="card-text">$159.000</p>
                        <a href="#" class="btn btn-success">Agregar al Carrito</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow" style="width: 30rem;">
                    <div class="inner">
                        <img src="./img/15.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Oculus Quest</h5>
                        <p class="card-text">$40.000</p>
                        <a href="#" class="btn btn-success">Agregar al Carrito</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow" style="width: 30rem;">
                    <div class="inner">
                        <img src="./img/16-2.png" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Google Day Dream View</h5>
                        <p class="card-text">$25.000</p>
                        <a href="#" class="btn btn-success">Agregar al Carrito</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow" style="width: 30rem;">
                    <div class="inner">
                        <img src="./img/OT2.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Joystick Oculus Touch</h5>
                        <p class="card-text">$40.000</p>
                        <a href="#" class="btn btn-success">Agregar al Carrito</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow" style="width: 30rem;">
                    <div class="inner">
                        <img src="./img/18.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Oculus Rift S</h5>
                        <p class="card-text">$89.000</p>
                        <a href="#" class="btn btn-success">Agregar al Carrito</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow" style="width: 30rem;">
                    <div class="inner">
                        <img src="./img/OG1.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Oculus Go</h5>
                        <p class="card-text">$45.000</p>
                        <a href="#" class="btn btn-success">Agregar al Carrito</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Cursor -->
    <div class="cursor"></div>
    <div class="cursor2"></div>

    <!--footer--> <br>
    <%- include('partials/footer') %>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
    <script src="/public/js/js.js"></script>
    <script src="/js/search.js"></script>

    <script text="text/javascript">
        var cursor = document.querySelector('.cursor')
        var cursor2 = document.querySelector('.cursor2')

        document.addEventListener('mousemove', function (e) {
            cursor.style.cssText = cursor2.style.cssText = 'left: ' + e.clientX + 'px; top: ' + e.clientY + 'px;'
        })
    </script>

    <script text="text/javascript">
    

        TweenMax.from('.container.col-xl-11.cabecera', 2, {
            delay: 0.5,
            opacity: 0,
            scale: 0,
            ease: Power3.easeInOut
        });

        TweenMax.from('.categorieProductsTitle', 2, {
            delay: 0.5,
            opacity: 0,
            scale: 0,
            ease: Power3.easeInOut
            });
        
        TweenMax.from('.col-md-3', 3, {
            delay: 0.8,
            opacity: 0,
            y: 20,
            ease: Expo.easeInOut
        });
    
    </script>    

</body>
</html>