<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d92a2a2802.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/styleCategories.css">
    <title>RYZEN | Categorías</title>
</head>
<body>
    <!-- Header -->
    <%- include('partials/headerNavbar') %>
    <%- include('partials/mobileNavBar') %>
    <!-- /Header -->
    <section class="mainContainer">
        <div class="container productContainer col-4 col-xl-3">
            <div class="section row">
                <div class="product col-xl-3 col-12">
                    <div class="productImage col-11 col-xl-12">
                        <img src="./img/gearvrblack2.png" alt="Imágen de producto">
                    </div>
                    <div class="productInfo">
                        <h3>SAMSUNG GEAR VR</h3>
                        <p>$2.499</p>
                        <div class="buttonDiv">
                            <a href="/producto"><button type="submit" class="infoButton">INFORMACIÓN <span class="buttonIcon"><i class="fas fa-chevron-right"></i></span></button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container productContainer col-12 col-xl-3">
            <div class="section row">
                <div class="product col-xl-3 col-12">
                    <div class="productImage col-11 col-xl-12">
                        <img src="./img/htcVivePro.webp" alt="Imágen de producto">
                    </div>
                    <div class="productInfo">
                        <h3>HTC Vive PRO</h3>
                        <p>$7.499</p>
                        <div class="buttonDiv">
                            <button type="submit" class="infoButton">INFORMACIÓN <span class="buttonIcon"><i
                                        class="fas fa-chevron-right"></i></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container productContainer col-12 col-xl-3">
            <div class="section row">
                <div class="product col-xl-3 col-12">
                    <div class="productImage col-11 col-xl-12">
                        <img src="./img/psBeatSaber.png" alt="Imágen de producto">
                    </div>
                    <div class="productInfo">
                        <h3>PlayStation VR + Beat Saber</h3>
                        <p>$49.999</p>
                        <div class="buttonDiv">
                            <button type="submit" class="infoButton">INFORMACIÓN <span class="buttonIcon"><i
                                        class="fas fa-chevron-right"></i></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--footer--> <br>
    <%- include('partials/footer') %>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="./public/js/js.js"></script>
</body>
</html>