<header>
    <link rel="stylesheet" href="../public/css/compatibilidad.css">
</header>
<div class="container compatibleContainer">
    <div class="compatibleIcon">
        <div class="compatibleIconBox">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Playstation_logo_colour.svg/631px-Playstation_logo_colour.svg.png"
                alt="">
        </div>
        <div class="compatibleIconBox">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Xbox_one_logo.svg/1200px-Xbox_one_logo.svg.png"
                alt="">
        </div>
        <div class="compatibleIconBox">
            <img src="../public/img/pc.png" alt="">
        </div>
        <div class="compatibleIconBox">
            <img src="../public/img/windows.png" alt="">
        </div>
    </div>
    <div class="compatibleContent">
        <div class="compatibleContentBx">
            <div>
                <div class="compatibleText">
                    <h2>PlayStation</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, nisi dolorum! Harum deserunt
                        quaerat reiciendis, explicabo veritatis quo inventore a molestias id perferendis velit aut,
                        consequuntur illum, itaque labore voluptatum.</p>
                </div>
            </div>
        </div>
        <div class="compatibleContentBx">
            <div>
                <div class="compatibleText">
                    <h2>Xbox</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, nisi dolorum! Harum deserunt
                        quaerat
                        reiciendis, explicabo veritatis quo inventore a molestias id perferendis velit aut, consequuntur
                        illum,
                        itaque labore voluptatum.</p>
                </div>
            </div>
        </div>
        <div class="compatibleContentBx">
            <div>
                <div class="compatibleText">
                    <h2>PC</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, nisi dolorum! Harum deserunt
                        quaerat
                        reiciendis, explicabo veritatis quo inventore a molestias id perferendis velit aut, consequuntur
                        illum,
                        itaque labore voluptatum.</p>
                </div>
            </div>
        </div>
        <div class="compatibleContentBx">
            <div>
                <div class="compatibleText">
                    <h2>PlayStation</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, nisi dolorum! Harum deserunt
                        quaerat
                        reiciendis, explicabo veritatis quo inventore a molestias id perferendis velit aut, consequuntur
                        illum,
                        itaque labore voluptatum.</p>
                </div>
            </div>
        </div>
    </div>
</div>