<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://kit.fontawesome.com/d92a2a2802.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

    <!-- GSAP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
    
    <link rel="stylesheet" href="./css/styleHome2.css">
    <title>RYZEN | Home</title>
</head>

<body>
    <!-- Header -->
    <%- include('partials/headerNavBar') %>
    <%- include('partials/mobileNavBar') %>
    <!-- /Header -->

    <!--home-->

    <!-- <section class="hero" id="hero">
        <div class="container">
            <h2 class="sub-headline">
                <span class="first-letter">S</span>amsung
            </h2>
            <h1 class="headline">Gear Vr</h1>
            <div class="headline-description"> -->
                <!--<div class="separator">
                        <div class="line line-left"></div>
                        <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                        <div class="line line-right"></div>
                    </div>-->
                <!-- <div class="single-animations">
                    <h5 class="last-title">Tus juegos favoritos hechos realidad</h5>
                    <a href="#" class="btn cta-btn">Más Información</a>
                </div>
            </div>
        </div>
    </section> -->
    
    <!-- Samsung Gear Vr Ends -->
    
    <!-- <section class="discover-our-story">
        <div class="container">
            <div class="restaurant-info">
                <div class="restaurant-description padding-right animate-left">
                    <div class="global-headline">
                        <h2 class="sub-headline">
                            <span class="first-letter">o</span>culus
                        </h2>
                        <h1 class="headline headline-dark">Rift S</h1>
                        <div class="vr-cardboard"><i class="fas fa-vr-cardboard"></i></div>
                    </div>
                    <p>
                        Posee una nueva óptica que ofrece colores más brillantes e intensos y reduce el efecto "rejilla".
    
                        La cinta del visor que rodea la cabeza se rediseñó teniendo en cuenta la velocidad y la comodidad.
    
                        Golpea, dispara y agarra objetos en realidad virtual con una precisión realista e intuitiva.
                    </p>
                    <a href="#" class="btn body-btn">Más Información</a>
                </div>
                <div class="restaurant-info-img animate-right">
                    <img src="https://i.pinimg.com/originals/ff/bc/ae/ffbcae664c8200fb9d334b8973d6cc54.png" alt="">
                </div>
            </div>
        </div>
    </section> -->
    
    <!-- Oculus Rift S Ends -->
    
    <!-- <section class="tasteful-recipes between">
        <div class="container">
            <div class="global-headline">
                <div class="animate-top">
                    <h2 class="sub-headline">
                        <span class="first-letter">d</span>esafía
                    </h2>
                </div>
                <div class="animate-bottom">
                    <h1 class="headline headline-dark">la realidad</h1>
                </div>
            </div>
        </div>
    </section> -->
    
    <!-- Imagina a lo grande  Ends -->
    
    <!-- <section class="discover-our-menu">
        <div class="container">
            <div class="restaurant-info">
                <div class="image-group padding-right animate-left">
                    <img src="../img/newvrimg/VR/PNG2.png" alt="">
                </div>
                <div class="restaurant-description animate-right">
                    <div class="global-headline">
                        <h2 class="sub-headline">
                            <span class="first-letter">O</span>culus
                        </h2>
                        <h1 class="headline headline-dark">Quest</h1>
                        <div class="vr-cardboard"><i class="fas fa-vr-cardboard"></i></div>
                    </div>
                    <p>
                        Se configura fácilmente, tanto en casa como en otro lugar.
    
                        Los sensores integrados trasladan tus movimientos a la realidad virtual y proporcionan seguimiento a
                        escala de la sala.
    
                        Verás tus manos y gestos en realidad virtual con una precisión realista e intuitiva.
                    </p>
                    <a href="#" class="btn body-btn">Más Información</a>
                </div>
            </div>
        </div>
    </section> -->
    
    <!-- Oculus Quest Ends -->
    
    <!-- <section class="perfect-blend between">
        <div class="container">
            <div class="global-headline">
                <div class="animate-top">
                    <h2 class="sub-headline">
                        <span class="first-letter">H</span>apt X
                    </h2>
                </div>
                <div class="animate-bottom">
                    <h1 class="headline">Gloves</h1>
                </div>
                <div class="single-animations">
                    <a href="#" class="btn cta-btn">Más Información</a>
                </div>
            </div>
        </div>
    </section> -->
    
    <!-- Hapt X Ends-->
    
    <!-- <section class="culinary-delight">
        <div class="container">
            <div class="restaurant-info">
                <div class="restaurant-description padding-right animate-left">
                    <div class="global-headline">
                        <h2 class="sub-headline">
                            <span class="first-letter">O</span>culus
                        </h2>
                        <h1 class="headline headline-dark">Go</h1>
                        <div class="vr-cardboard"><i class="fas fa-vr-cardboard"></i></div>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Quos perspiciatis aperiam necessitatibus cupiditate cum reiciendis
                        commodi itaque eum est quas. Mollitia nisi quidem, temporibus
                        ad cumque fuga maxime autem ipsam.
                    </p>
                    <a href="#" class="btn body-btn">Más Información</a>
                </div>
                <div class="image-group">
                    <img class="animate-top" src="./img/newvrimg/VR/GO3.1.png" alt="">
                </div>
            </div>
        </div>
    </section> -->
    
    <!-- Oculus Go Ends -->
    
    <!-- <footer>
        <div class="container">
            <div class="back-to-top">
                <a href="#hero"><i class="fas fa-chevron-up"></i></a>
            </div>
            <div class="footer-content">
                <div class="footer-content-about animate-up">
                    <h4>Contacto</h4>
                    <div class="vr-cardboard"><i class="fas fa-vr-cardboard"></i></div>
                    <p>
                        Soporte: 0800-1223-3356 -
                        Consultas: consultas.RZ@gmail.com
                    </p>
                </div>
                <div class="footer-content-divider animate-bottom">
                    <div class="social-media">
                        <h4>Redes Sociales</h4>
                        <ul class="social-icons">
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-facebook-square"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-tripadvisor"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer> -->

    <!--banner-->
    <section class="firstContainer  container tamano-container">
        <div class="row">
            <div class="firstContainerRow col-12">
                <div class="firstContainerInfo col-lg-6">
                    <p class="banner-title"><i class="fas fa-vr-cardboard bannerIcon"></i>SAMSUNG GEAR VR</p>
                    <p class="col-12 col-lg-12 banner-txt">Tus juegos favoritos hechos <span style='font-weight: bold; color: white;'>REALIDAD</span></p>
                    <div class="banner-mi-container col-12 col-lg-12">
                        <span class="banner-mi col-6"><a href="/productos/15">Conocelo a fondo ></a></span>
                        <span class="banner-mi col-6"><a href="/productos/visores">Más productos ></a></span>
                    </div>
                </div>
                <div class="firstContainerImg">
                <img class="banner-img col-12 " /*src="./img/gearvrblack3.webp"*/ alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Producto Nuevo -->
    <section class="secondContainer container">
        <div class="row">
            <img class="col-12 col-md-8 col-lg-6" src="https://i.pinimg.com/originals/ff/bc/ae/ffbcae664c8200fb9d334b8973d6cc54.png" alt="">
            <div class="secondContainerInfo col-12 col-lg-6">
                <p class="producto-home-nom col-12">Oculus Rift S</p>
                <div class="secondDescription">
                    <div class="secondDescriptionContainers">
                    <h4 class="secondDescriptionTitles col-12">Sumergite de lleno</h4>
                    <img src="./img/visorIcon.png" class="secondContainerIcons col-2" alt=""><p class="col-10">Colócate en el centro de la experiencia de juego para ordenador más emocionante de la realidad virtual.</p><br>
                    </div>
                    <div class="secondDescriptionContainers"> 
                    <h4 class="secondDescriptionTitles col-12">Óptica mejorada</h4>
                    <img src="./img/eyeIcon.png" class="secondContainerIcons col-2" alt=""><p class="col-10">Observa cómo se desarrolla la acción a tu alrededor a través de lentes de gran precisión y una óptica de nueva generación.</p><br>
                    </div>
                    <div class="secondDescriptionContainers">
                    <h4 class="secondDescriptionTitles col-12">Diseño ergonómico</h4>
                    <img src="./img/joystickIcon.png" class="secondContainerIcons col-2" alt=""><p class="col-10">Piérdete en esta experiencia con un diseño mejorado y cómodo, que te permite empezar a jugar más rápido y permanecer más tiempo jugando.</p>
                    </div>
                </div><br>
                <div class="btn-mf">
                    <a href="/productos/14"><button type="button" class="btn btn-mi">Más Información</button></a>
                </div>
            </div>
        </div>
    </section>
    <!-- Compatibilidad -->
    <section class="container tamano-container compatibilidad">
        <div class="compatibleContainer">
            <div>
                <h2 class="subH2">Compatibles con</h2>
            </div>
            <div class="content-1">
                <div class="card">
                    <div class="imgBx" data-text="PC">
                        <img src="./img/AMD.webp">
                    </div>
                </div>
                <div class="card">
                    <div class="imgBx" data-text="PC">
                        <img src="./img/xboxfront1.jpg">
                    </div>
                </div>
                <div class="card">
                    <div class="imgBx" data-text="PC">
                        <img src="./img/NEWPS4.jpg">
                    </div>
                </div>
            </div>
            <!-- <div class="row compatible">
                <img class="col-4" src="./img/ps11.jpg" alt="">
                <img class="col-4" src="./img/xbox11.jpg" alt="">
                <img class="col-4" src="./img/pc11.jpeg" alt="" class="pc">
            </div> -->
        </div>
    </section>
    
    <!--Carrusel-->
    <section class="container carouselContainer tamano-container">
        <h2 class="subH2">Productos Populares</h2>
        <div class="carouselIndex">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner tamano-container">
                    <div class="carousel-item active">
                        <img src="/img/T11.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption">
                            <h2>Joystick Oculus Quest</h2>
                            <p>$20.000</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/img/RS11.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption">
                            <h2>Oculus Quest</h2>
                            <p>$55.000</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/img/nuevoS.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption">
                            <h2>Oculus Rift S</h2>
                            <p>$70.000</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/img/astrobot11.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption">
                            <h2>Astro Bot</h2>
                            <p>$3.200</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>

    <!-- Cursor -->
    <!--<div class="cursor"></div>
    <div class="cursor2"></div>-->


    <!--footer--> <!--<br>-->
    <%- include('partials/footer') %>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
    <script src="/js/home.js"></script>

    <!--<script text="text/javascript">
        var cursor = document.querySelector('.cursor')
        var cursor2 = document.querySelector('.cursor2')

        document.addEventListener('mousemove', function (e) {
            cursor.style.cssText = cursor2.style.cssText = 'left: ' + e.clientX + 'px; top: ' + e.clientY + 'px;'
        })
    </script>-->

    <script text="text/javascript">

        /*TweenMax.from('.hero', 1, {
            delay: 0.6,
            // opacity: 0,
            // x: 100,
            // width: 0,
            scale: 0,
            ease: Expo.easeInOut
        });*/

        TweenMax.from('.container.col-xl-11.cabecera', 2, {
            delay: 0.5,
            opacity: 0,
            scale: 0,
            ease: Power3.easeInOut
        });

        TweenMax.from('.banner-title', 2, {
            delay: 0.8,
            opacity: 0,
            x: -50,
            ease: Expo.easeInOut
        })

        TweenMax.from('.sub-headline', 2, {
            delay: 0.8,
            // opacity: 0,
            // x: 20,
            //width: 0,
            scale: 0,
            ease: Power3.easeInOut
        });

        TweenMax.from('.btn.cta-btn', 2, {
            delay: 0.5,
            opacity: 0,
            scale: 0,
            ease: Power3.easeInOut
        })

        TweenMax.from('.col-12.col-lg-12.banner-txt', 2, {
            delay: 0.8,
            opacity: 0,
            y: -20,
            ease: Expo.easeInOut
        });

        TweenMax.from('.banner-mi.col-6', 2, {
            delay: 0.8,
            opacity: 0,
            y: 20,
            ease: Expo.easeInOut
        });

        TweenMax.from('.last-title', 2, {
            delay: 0.8,
            opacity: 0,
            y: 20,
            ease: Expo.easeInOut
        })

        /*TweenMax.from('.producto-home-nom.col-12', 2, {
            delay: 0.8,
            opacity: 0,
            y: 20,
            ease: Expo.easeInOut
        });*/
        
    </script>

</body>
</html>