<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/d92a2a2802.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styleProfile.css">
    <title>RYZEN | Perfil</title>
</head>
<body>
    <!-- Header -->
    <%- include('partials/headerNavBar') %>
    <%- include('partials/mobileNavBar') %>
    <!-- /Header -->
    <div class="profile">
        <div class="profileContainer">
            <div class="profileData">
                <div class="name">
                    <p><%= locals.user.userName %></p>
                </div>
            </div>
            <div class="profileOptions">
                <div class="profileChanges">
                    <a href="">Historial de compras</a>
                    <a href="">Cambiar contraseña</a>
                </div>
            </div>
            <div class="adminOptions">
                <div class="productOptions">
                    <a href="/productos/crear">Crear producto</a>
                    <a href="/perfil/editar-producto">Editar producto</a>
                </div>
                <div class="categoryOptions">
                    <a href="/categorias/crear">Crear categoría</a>
                    <a href="/categorias/editar">Editar categoría</a>
                </div>
                <div class="permissionOptions">
                    <a href="/perfil/permisos">Cambiar permisos</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer-->
    <%- include('partials/footer') %>
    <!-- /Footer-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>